<div class="container py-5 my-5 font-weight-bold">

  <div class="row w-50 mx-auto pt-5 border-top border-warning rounded-pill">
    <h4 class="mx-auto mb-4 border-bottom border-dark">ログイン（管理者用）</h4>
  </div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row mb-4">
    <div class="col-5 mx-auto">
      <%= f.label :メールアドレス %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"w-100 h-75 border rounded" %>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-5 mx-auto">
      <%= f.label :パスワード %><br />
      <%= f.password_field :password, autocomplete: "current-password", class:"w-100 h-75 border rounded" %>
    </div>
  </div>


  <div class="row px-4 w-50 mx-auto pb-5 border-bottom border-warning rounded-pill">
    <div class="col-10 w-100 mx-auto mt-4 py-1 rounded-pill", style="background-color: sienna;">
      <%= f.submit "ログイン", class:"btn text-light w-100 font-weight-bold" %>
    </div>
  </div>
<% end %>

<%= render "admin/shared/links" %>

</div>
