<div class="container py-5">

<%= form_with model: @genre, url: admin_genres_path, method: :post do |f| %>
  <div class="row">
    <div class="my-5">
      <%= f.text_field :name, placeholder: "ジャンル名を入力", class:"pr-5 h-100" %>
      <%= f.submit '追加', class:'btn btn-success mb-1 px-4' %>
    </div>
  </div>
<% end %>
  <div class="row">
    <div>
      <h5 class="text-danger">注意！！ ジャンルを削除するとそのジャンルのレシピは全て消されてしまいます</h5>
    </div>
  </div>
  <div class="row">
  <table class="table table-bordered col-10 mb-5 font-weight-bold">
    <thead class="table-active">
      <tr>
        <th class="col-6">ジャンル一覧</th>
        <th class="col-4"></th>
        <th class="col-2"></th>
      </tr>
    </thead>
    <% @genres.each do |genre| %>
    <tbody style="background-color: lightyellow;">
      <tr>
        <td class="align-middle"><%= genre.name %></td>
        <td class="text-center"><%= form_with model: @genre, url: admin_genre_path(genre.id), method: :patch do |f| %>
            <%= f.text_field :name, placeholder: "ジャンル編集", class:"pr-5 w-50" %>
             <%= f.submit '変更', class:'btn btn-primary btn-sm mb-1 px-4' %><% end %></td>
        <td class="text-center"><%= link_to "削除", admin_genre_path(genre.id), method: :delete, data: { confirm: '本当にジャンルを削除しますか？'}, class:'btn btn-danger' %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
  </div>

</div>