<div class="container">
  <div class="row">
    <h3 class="font-weight-bold bg-primary text-light px-3 py-1">ジャンルの追加・削除</h3>
  </div>
<%= form_with model: @genre, url: admin_genres_path, method: :post do |f| %>
<div class="row">
  <%= f.label :ジャンル名, class:'font-weight-bold' %>
</div>
<div class="row">
  <%= f.text_field :name %>
  <%= f.submit '追加', class:'btn btn-success' %>
</div>
<% end %>

  <table class="table">
    <thead>
      <tr>
        <th>ジャンル名</th>
        <th></th>
      </tr>
    </thead>
    <% @genres.each do |genre| %>
    <tbody>
      <tr>
        <td><%= genre.name %></td>
        <td><%= link_to "削除", admin_genre_path(genre.id), method: :delete, class:'btn btn-danger' %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>