<div class="container py-5 my-5 font-weight-bold">

  <div class="row w-50 mx-auto pt-5 mb-2 border-top border-warning rounded-pill">
    <h1 class="mx-auto", style="color: sienna;"><i class="fas fa-utensils"></i><u class="mx-3">share-pro</u><i class="fas fa-utensils"></i></h1>
  </div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row mb-4">
    <div class="col-5 mx-auto">
      <%= f.label :メールアドレス %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"w-100 h-75 border rounded" %>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-5 mx-auto">
      <%= f.label :パスワード %><br />
      <%= f.password_field :password, autocomplete: "current-password", class:"w-100 h-75 border rounded" %>
    </div>
  </div>

  <div class="row px-4 w-50 mx-auto pb-5 border-bottom border-warning rounded-pill">
    <div class="col-10 w-100 mx-auto my-4 py-1 rounded-pill", style="background-color: sienna;">
      <%= f.submit "ログイン", class:"btn text-light w-100 font-weight-bold" %>
    </div>
<% end %>

  <div class="mx-auto">
    <%= render "member/shared/links" %>
  </div>
  </div>

</div>
