<div class="container-fluid">
  <div class="row">
    <div class="col-3"></div>
    <h2 class="my-2 font-weight-bold text-info py-4 px-4">レ シ ピ 一 覧</h2>

  <div class="col">

    <%= link_to '新しい順', recipes_path(latest: "true"), class:"btn btn-secondary" %>
    <%= link_to '古い順', recipes_path(old: "true") %>
    <%= link_to '人気順', recipes_path(star_count: "true") %>
    <%= link_to 'たんぱく質量順（多）', recipes_path(many_protein: "true") %>
    <%= link_to 'たんぱく質良順（少）', recipes_path(few_protein: "true") %>
  </div>
  </div>
  <div class="row">
    <div class="col-2 ml-2">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th class="text-center bg-warning">レシピ検索(ジャンル)</th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
          <tr>
            <td>
              <%= link_to "・#{genre.name}", recipes_path(genre_id: genre.id), class: "text-primary font-weight-bold" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <%# @recipes.each do |recipe| %>
    <%#= recipe.name %>
    <%# end %>



    <!--<div class="col-9">-->
    <div class="d-flex flex-wrap">

      <% @recipes.each do |recipe| %>
        <!--<div>-->


      <div class="mb-4 pt-2 mx-2 border border-success" style="background-color: wheat;">
        <%= link_to recipe_path(recipe.id) do %>
         <div class="px-5 ml-2">
          <%= image_tag recipe.image, size: "150x80" %>
         </div>



        <!--<div class="mr-4">-->
        <div class="col">
          <table class="table table-sm table-striped text-nowrap mt-2">
            <tbody>
              <tr><td>レシピ名</td><td class="overflow-x-auto"><u><%= recipe.name %></u></td></tr>
              <tr><td>たんぱく質量</td><td><u><%= "#{recipe.protein}グラム" %></u></td></tr>
              <tr><td>ジャンル</td><td><u><%= recipe.genre.name %></u></td></tr>
              <% end %>




            </tbody>
          </table>


        </div>

     </div>
      <% end %>
    </div>
    <!--</div>-->
  <!--</div>-->

  </div>
</div>

