<div class="container-fluid", style="background-color: #fff3b8;">

  <div class="row", style="background-color: #d2b48c;">
      <h1 class="mx-auto text-center font-weight-bold font-17 px-md-5 py-md-3 mt-md-5">〜 レ シ ピ 情 報 〜</h1>
  </div>

  <div class="row", style="background-color: #d2b48c;">
    <h4 class="mt-md-4 pb-md-5 mx-auto text-center font-14"><u>レシピをクリックすると詳細ページへ移動できます</u></h4>
  </div>

  <div class="row pb-md-3">
    <div class="col-md-1"></div>
    <div class="col-md-3 mr-md-5 mt-md-4 xs-center">   <!--検索フォーム-->
      <%= form_tag(recipes_path, :method => "get") do %>



    <div style="display:inline-flex">

        <%= text_field_tag :search, params[:search], placeholder: "キーワード検索", class: "form-control col-md-11" %>
        <%= submit_tag "検索", class:"btn border btn-success btn-sm px-3 font-weight-bold" %>


    </div>
      <% end %>
    </div>
    <div class="col-md-5 mt-4 xs-center">
      <%= link_to '新着順', recipes_path(latest: "true"), class:"btn btn-warning px-md-4 rounded-pill font-10" %>
      <%= link_to '古い順', recipes_path(old: "true"), class:"btn btn-warning px-md-4 rounded-pill font-10" %>
      <%= link_to 'たんぱく質 -降順-', recipes_path(many_protein: "true"), class:"btn btn-warning rounded-pill font-10" %>
      <%= link_to 'たんぱく質 -昇順-', recipes_path(few_protein: "true"), class:"btn btn-warning rounded-pill font-10" %>
    </div>
  </div>

  <div class="recipes">
    <div class="recipe-table">
      <table class="table mt-md-3 border", style="background-color: #ffffff;">
        <%= render 'layouts/member_recipes', recipes: @recipes %>
      </table>
    </div>
    <div class="genre-table">
      <table class="table table-bordered mt-3 table-responsive", style="background-color: #ffffff;">
        <thead>
          <tr>
            <th class="text-center font-14", style="background-color: orange^;">〜ジャンルで絞り込む〜</th>
          </tr>
        </thead>
        <tbody class="flex-wrap">
      <% @genres.each do |genre| %>
          <tr class="font-10 flex-wrap">
            <td class="initial">
              <%= link_to "#{genre.name}", recipes_path(genre_id: genre.id), class: "text-primary px-3" %>
            </td>
          </tr>
      <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-1"></div>
    <div class="col-8">
      <h4 class="mb-5">
        <%= paginate @recipes %>
      </h4>
    </div>
  </div>

</div>