<div class="container-fluid pb-5">
  <div class="row py-3", style="background-color: brown;">
    <h1 class="col-5 mt-5 text-light text-center font-weight-bold mx-auto mb-4">レ シ ピ 投 稿 ペ ー ジ</h1>
  </div>
  <div class="row", style="background-color: brown;">
    <h4 class="pb-5 mx-auto text-light">あなたのおすすめのタンパク質料理を投稿して共有しましょう！！</h4>
  </div>



<%= form_with model: @recipe, url: recipes_path, method: :post do |f| %>

  <div class="row lead font-weight-bold pl-5 ml-5 mt-5">
    <div class="col-5">
      <%= f.label :画像 %><br>
      <label class="border border-dark px-3 py-3 mb-5 rounded-pill btn btn-warning">
        <span class="font-weight-bold lead"><i class="fas fa-images"></i>&nbsp;&nbsp;レ シ ピ 画 像 を 選 択 し て く だ さ い</span>
      <%= f.file_field :image, accept: "image/*", style:"display:none;" %>
      </label><br>
      <%= f.label :レシピ名 %><br>
      <%= f.text_field :name, class:"mb-5 w-75" %><br>
      <%= f.label :たんぱく質量 %><br>
      <%= f.text_field :protein, class:"mb-5 w-75" %>
      g<br>
      <%= f.label :ジャンル選択 %><br>
      <%= f.collection_select(
      :genre_id, Genre.all, :id, :name,
      {prompt: "ジャンルを選択してください"}, {class: 'form-control border border-dark w-75'}) %><br>


      <% if @recipe.errors.any? %>  <!--エラーメッセージ-->
        <p class="text-danger">※ <%= @recipe.errors.count %>件のエラーが発生しました<br>
        正しく情報を入力してください</p>
      <% end %>


    </div>
    <div class="col-6">
      <%= f.label :材料 %><br>
      <%= f.text_area :ingredients, class:"w-100 h-50" %><br>
      <%= f.label :作り方 %><br>
      <%= f.text_area :explanation, class:"w-100 h-75" %>
    </div>
  </div>






  <div class="my-2 py-5"></div>
  <div class="py-5"></div>
  <div class="row py-5">
    <%= f.submit "レ シ ピ を 投 稿 す る", class:'btn btn-success btn-lg mx-auto px-5 py-3 rounded-pill' %>
  </div>



  <% end %>

</div>