<div class="container py-5">
  <div class="row">
    <h1 class="col-5 text-center font-weight-bold mx-auto text-light rounded-pill px-3", style="background-color: sienna;">レ シ ピ 投 稿 ペ ー ジ</h1>
  </div>



<%= form_with model: @recipe, url: recipes_path, method: :post do |f| %>

  <div class="row">
  <%= f.label :レシピ名 %>
  <%= f.text_field :name %>
  </div>

  <div class="row">
    <label class="border border-dark px-5 py-3 rounded-pill btn btn-warning">
        <span class="font-weight-bold lead"><i class="fas fa-images"></i>&nbsp;&nbsp;画 像 を 選 択 し て く だ さ い</span>
      <%= f.file_field :image, accept: "image/*", style:"display:none;" %>
      </label>
  </div>

  <div class="row">
    <%= f.label :ジャンル選択 %>
    <%= f.select :genre_id, @genres.map{ |f| [f.name, f.id]}, { include_blank: '--選択してください--'}, class:"w-75 p-1 ml-5" %>
  </div>

  <div class="row">
  <%= f.label :材料 %>
  <%= f.text_area :ingredients %>
  </div>

  <div class="row">
  <%= f.label :作り方 %>
  <%= f.text_area :explanation %>
  </div>

  <div class="row">
  <%= f.label :たんぱく質量 %>
  <%= f.text_field :protein %>
  g
  </div>

  <%= f.submit "投稿する", class:'btn btn-success' %>

  <% if @recipe.errors.any? %>
  <%= @recipe.errors.count %>件のエラーが発生しました
  <% end %>

<% end %>
</div>
</div>