<div class="container-fluid">


  <div class="row", style="background-color: #fff3b8;">
    <h1 class="mx-auto font-weight-bold px-5 py-3 mt-5">〜 お気に入りレシピ 〜</h1s>
  </div>
  <div class="row", style="background-color: #fff3b8;">
    <h4 class="mt-4 pb-5 mx-auto"><u>レシピをクリックすると詳細ページへ移動できます</u></h4>
  </div>

  <div class="row pb-3">
  <div class="col-6 mt-3">   <!--検索フォーム-->
    <%= form_tag(recipes_path, :method => "get") do %>
  <div style="display:inline-flex">
  <form>
      <%= text_field_tag :search, params[:search], placeholder: "キーワード検索", class: "form-control col-11" %>
      <%= submit_tag "検索", :name => nil, class:"btn border btn-secondary btn-sm px-3 font-weight-bold" %>
  </form>
  </div>
    <% end %>
  </div>




<!--  <div class="input-group">-->
    <%#= text_field_tag :search, params[:search], placeholder: "キーワード検索", class: "form-control" %>
<!--    <span class="input-group-btn">-->
        <%#= button_tag "検索", :name => nil, class: "btn btn-primary" %>
<!--    </span>-->
<!--</div>-->



  </div>
  <div class="row">
    <div class="col-2 px-3">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th class="text-center bg-light">〜ジャンルで絞り込む〜</th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
          <tr>
            <td>
              <%= link_to "・#{genre.name}", recipes_path(genre_id: genre.id), class: "text-primary font-weight-bold" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <%# @recipes.each do |recipe| %>
    <%#= recipe.name %>
    <%# end %>



    <!--<div class="col-9">-->
    <div class="d-flex flex-wrap col-10 border-left border-top pl-5">
      <div class="col-5 mr-3"></div>
      <div class="col-6 mb-5">
      <table class="text-center border">
    <tbody>
      <tr>
        <!--<td class="col-2 pl-3"><i class="fas fa-exchange-alt"></i> 並び替え</td>-->
        <!--<td class="col-4", style="background-color: lightcyan;"><%#= link_to '・人気順', recipes_path(star_count: "true"), class:"text-primary font-weight-bold" %></td>-->
        <td style="background-color: #fdeff2;"><%= link_to '＜新着順＞', recipes_path(latest: "true"), class:"text-primary" %></td>
        <td style="background-color: #fdeff2;"><%= link_to '＜古い順＞', recipes_path(old: "true"), class:"text-primary" %></td>
      <!--</tr>-->
      <!--<tr>-->
        <!--<td></td>-->
        <td style="background-color: #fdeff2;"><%= link_to '＜たんぱく質 -降順-＞', recipes_path(many_protein: "true"), class:"text-primary" %></td>
        <td style="background-color: #fdeff2;"><%= link_to '＜たんぱく質 -昇順-＞', recipes_path(few_protein: "true"), class:"text-primary" %></td>
      </tr>
    </tbody>
  </table>
    </div>

      <% @good_recipes.each do |recipe| %>
        <!--<div>-->


      <div class="mb-5 ml-5 pt-2 col-3" style="background-color: #fdede4;">
        <%= link_to recipe_path(recipe.id) do %>
         <div class="text-center">
          <%= image_tag recipe.image, size: "260x150", class:"rounded" %>
         </div>



        <!--<div class="mr-4">-->
        <div class="col">
          <table class="table table-sm table-responsive text-nowrap mt-2">
            <tbody>
              <tr><td class="overflow-x-auto font-weight-bold", style="color: crimson;"><%= "#{recipe.name}" %></td></tr>
              <tr><td class="font-weight-bold"><%= "たんぱく質量 _ #{recipe.protein}グラム" %></td></tr>
              <% end %>




            </tbody>
          </table>

         <table class="table table-responsive">
           <tbody>
             <tr><td class="text-secondary text-nowrap col-2"><%= "#{recipe.created_at.strftime('%Y/%m/%d')} | " %></td><td class="text-secondary text-nowrap col-10"><i class="fas fa-user"></i>&nbsp;<%= recipe.member.name %></td></tr>
           </tbody>
         </table>
        </div>

     </div>
      <% end %>
    </div>
    <!--</div>-->
  <!--</div>-->

  </div>
</div>

