<div class="container-fluid pb-5", style="background-color: cornsilk;">


      <!--<div class="w-100 py-5", style="background-image:url(<%#= asset_path "meat.dish.jpg" %>)" />-->
   <div class="body">
   <div class="body-image">
    <div class="col-md-7 mx-md-auto text-center text-light py-md-5">
      <h2 class="mx-md-auto border-top border-bottom border-warning font-weight-bold py-md-3">
        Welcome to share_pro</h2><br>
        <h5 class="font-weight-bold font-14 mb-4">
        シェアプロではユーザーが投稿したタンパク質が摂れる料理を見る事が出来ます。</h5>
        <h5 class="font-weight-bold font-14">
        不足しがちなたんぱく質を普段の食事に取り入れる事ができるので、<br class="erase">
        筋トレが好きな方やダイエットをしている方以外の方にもオススメです！！</h5>
    </div>
  </div>
  </div>

  <div class="row my-5">


    <div class="col-md-6 mx-auto pt-3 text-center border border-info mb-3", style="background-color: lightcyan;">
      <h4 class="mt-2"><u>share_proを利用するにあたって</u></h4>
      <p class="text-info font-14 font-weight-bold mt-3">&nbsp;&nbsp;&nbsp;&nbsp;実際に体づくりを健康的に行うためにはたんぱく質以外の栄養素<br class="erase">（糖質、脂質、ビタミン、ミネラルなど） も
         バランスよく取る必要があります。</p><br>
         <p class="text-info font-14 font-weight-bold">こちらのサイトでは、たんぱく質が取れるレシピを投稿・閲覧できるものなので<br class="erase">
         さまざまな料理の中の一つのアイデアとして参考にしましょう。
      </p>
    </div>

    <% if member_signed_in? %>
  <div class="col-md-3 mx-auto h-50 py-1 bg-white border border-warning text-center">
    <%= link_to my_recipe_path do %>
      <p class="btn btn-success btn-lg w-100 font-weight-bold rounded text-light px-5 py-3 mt-2"><i class="fas fa-user-tie"></i>
      &nbsp;&nbsp;&nbsp;マ イ ペ ー ジ</p>
    <% end %><br>
    <%= link_to new_recipe_path do %>
      <p class="btn btn-warning btn-lg w-100 font-weight-bold rounded text-dark px-5 py-3"><i class="fas fa-utensils"></i>
      &nbsp;&nbsp;&nbsp;レ シ ピ 投 稿</p>
    <% end %><br>
    <%= link_to goods_member_path(current_member) do %>
      <p class="btn btn-danger btn-lg w-100 font-weight-bold rounded text-light px-5 py-3"><i class="fas fa-utensils"></i>
      &nbsp;&nbsp;&nbsp;お 気 に 入 り</p>
    <% end %>
  </div>
  <% end %>

  </div>
  <!--<div class="row py-2 w-75 border border-success mb-2 bg-light mx-auto">-->
  <div class="new-recipe border bg-success border-success">
    <h4 class="text-light pt-md-2">新 着 レ シ ピ</h4>
  </div>
  <div class="row">
    <div class="recipe-table">
  <table class="table md-table xs-table", style="background-color: #ffffff;">
    <% @recipes.last(6).reverse_each do |recipe| %>
    <tbody>
      <tr>
        <td class="align-middle recipe-image col-md-2 pl-md-3 py-md-3"><%= link_to recipe_path(recipe.id) do %><%= image_tag recipe.image, class:"rounded" %><% end %></td>
        <td class="py-md-3"><%= link_to recipe_path(recipe.id) do %><h4 class="font-weight-bold font-17 mb-md-4", style="color:salmon ;">&nbsp;&nbsp;&nbsp;<%= "〜 #{recipe.name.truncate(30)} 〜" %></h4><% end %>
          <p class="font-weight-bold block lead font-14", style="color: maroon;">&nbsp;<%= "「#{recipe.genre.name}」のレシピ" %>&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;<%= "たんぱく質量 (#{recipe.protein}g)" %></p>
          <p class="text-secondary block mt-md-5 font-14">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-user"></i>&nbsp;<%= recipe.member.name %>&nbsp;&nbsp;&nbsp;&nbsp;<i class="far fa-calendar-alt"></i>&nbsp;<%= recipe.created_at.strftime('%Y / %m / %d') %>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-thumbs-up"></i><%= "#{recipe.goods.count}いいね" %></p>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>
  </div>

  </div>
</div>