<!--レシピ詳細(recipe.show)の部分テンプレート-->
<div class="show-img">
  <%= image_tag recipe.image, class:'border border-dark mb-4' %>
</div>
      <table class="table table-responsive table-lg mb-3", style="background-color: white;">
        <tbody>
          <tr>
            <td class="col-md-4 col-4"><h6 class="font-weight-bold mt-2 border-right border-secondary font-14">　レシピ名</h6></td><td class="col-md-8 align-middle text-nowrap"><%= recipe.name %></td>
          </tr>
          <tr>
            <td class="col-md-4 col-4"><h6 class="font-weight-bold mt-2 border-right border-secondary font-14">　ジャンル</h6></td><td class="col-md-8 align-middle"><%= recipe.genre.name %></td>
          </tr>
          <tr>
            <td class="col-md-4 col-4"><h6 class="font-weight-bold mt-2 border-right border-secondary text-nowrap font-14">　たんぱく質量</h6></td><td class="col-md-8 align-middle"><%= "#{recipe.protein}グラム" %></td>
          </tr>
        </tbody>
      </table>
      <table class="table table-sm table-bordered", style="background-color: white;">
        <tbody>
          <tr>
            <td class="col-4 pl-4 text-nowrap"><i class="fas fa-user"></i>&nbsp;ユーザ名</td><td class="col-8 align-middle text-nowrap"><%= recipe.member.name %></td>
          </tr>
          <tr>
            <td class="col-4 pl-4"><i class="far fa-calendar-alt"></i>&nbsp;投稿日</td><td class="col-8 align-middle"><%= recipe.created_at.strftime('%Y / %m / %d') %></td>
          </tr>
        </tbody>
      </table>